<div class="div">
  <script type="text/ng-template" id="modal.html" ng-controller="UserSessionsCtrl">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form ng-controller="UserSessionsCtrl" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       ng-model="loginForm.email"
                       required="required"
                       class="form-control">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       name="password"
                       id="password"
                       ng-model="loginForm.password"
                       required="required"
                       class="form-control">
              </div>  
              <button type="submit" class="btn btn-primary1" >Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
            <div class="row-spinner" ng-if="showSpinner">
                <div class="spinner-element">
                    <span class="text">loading</span>
                    <span class="spinner"></span>
                </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </script>
</div>